@import 'src/styles/abstracts/mixins.scss';

.card {
  @include display-flex(row, space-between, top);
  margin: 5px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  h2 {
    margin: {
      top: 5px;
      bottom: 5px;
    }
  }

  p {
    margin: 0;
    color: #00000099;
  }

  .working-hours {
    font-size: 26px;
  }
}

.card:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.card__closed {
  background-color: #f2f2f2;
}
