.card__accepted {
  border-left: 5px solid #2aad5d;
}

.accepted-label {
  background-color: #2aad5d;
  color: white;
  width: 85px;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
}
