@mixin display-flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}
