@import 'src/styles/abstracts/functions.scss';
@import 'src/styles/abstracts/mixins.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$orange-theme: (
  0: color(orange, main),
  50: color(orange, main),
  100: color(orange, main),
  200: color(orange, main),
  300: color(orange, main),
  400: color(orange, main),
  500: color(orange, main),
  600: color(orange, main),
  700: color(orange, main),
  800: color(orange, main),
  900: color(orange, main),
  1000: color(orange, main),
  A100: color(orange, main),
  A200: color(orange, main),
  A400: color(orange, main),
  A700: color(orange, main),
  contrast: (
    0: #fff,
    50: #fff,
    100: #fff,
    200: #fff,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    1000: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$time-app-primary: mat-palette($orange-theme);
$time-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$time-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$time-app-theme: mat-light-theme($time-app-primary, $time-app-accent, $time-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($time-app-theme);
