<section class="week-update">
  <h2 mat-dialog-title>{{isEditProjectMode ? 'Edytuj projekt' : 'Dodaj projekt'}}</h2>
  <section mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Projekt</mat-label>
      <mat-select [(value)]="selected" required>
        <mat-option *ngFor="let project of projects" [value]="project.name">{{project.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Godziny</mat-label>
      <input [formControl]="hours" name="hours" matInput placeholder="hours">
    </mat-form-field>
    <!-- <form [formGroup]="updateWeekForm">
      <div formArrayName="projects" *ngFor="let project of updateWeekForm.get('projects').controls; let i = index">
        <div class="project" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Projekt</mat-label>
            <mat-select matNativeControl required formControlName="name" placeholder="this.updateWeekForm.get('projects').value[i].name">
              <mat-option *ngFor="let project of projects" value="project.name">{{project.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Godziny</mat-label>
            <input type="number" formControlName="workedHours" autocomplete="off" matInput />
          </mat-form-field>
          <button mat-stroked-button color="warn">USUŃ</button>
        </div>
      </div>
    </form> -->
  </section>

  <mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" (click)="abortUpdate.emit()">ANULUJ</button>
    <button mat-flat-button color="primary" (click)="updateWeek()">{{isEditProjectMode ? 'EDYTUJ' : 'DODAJ'}}</button>
  </mat-dialog-actions>
</section>
